.card {
    width: 200px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    font-family: sans-serif;
    margin: 5px;
    text-align: center;
    background-color: white;
  }
  
  .name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .age {
    font-size: 20px;
    font-style: italic;
  }
  .gender{
    font-size: 20px;
    font-style: italic;
  }
  .card button {
    margin-top: 16px;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    border: 1px solid #30CFD0;
    border-radius: 3px;
    color: white;
    margin-bottom: 2px;
}